In [23]:
import pandas as pd

In [24]:
pd.DataFrame

pandas.core.frame.DataFrame

In [25]:
my_items = [200, 30 ,40 ,700 ,60,10]
my_items

[200, 30, 40, 700, 60, 10]

In [26]:
pd.DataFrame ({"number of players" :my_items})

   number of players
0                200
1                 30
2                 40
3                700
4                 60
5                 10

In [27]:
json_option_1 =[{'a':9, 'b':5, 'c':11}, {'a': 3, 'b': 19, 'c': 15}, {'a': 7, 'b': 12, 'c': 10}]

In [28]:
df_option_1 = pd.DataFrame(json_option_1)
df_option_1

   a   b   c
0  9   5  11
1  3  19  15
2  7  12  10

In [29]:
df_option_1['a']

0    9
1    3
2    7
Name: a, dtype: int64

In [30]:
df_option_1.iloc[0]

a     9
b     5
c    11
Name: 0, dtype: int64

In [31]:
cces = pd.read_csv('cces_example_data.csv')

In [32]:
cces.head()

,pew_religimp,pew_churatd,sex,educ,nonwhite,age,faminc_new,pid3,ideo5,QueerPhobia,...,InterGBiasParty,InterGBiasCand,InterGBiasSup,LibMediaUse,ConMediaUse,Real_Threat,Symb_Threat,Evaluation,teamweight,caseid
0,2,6,2,2,1,56,6,1,1,1.000000,...,-99,-99,-96,2.666667,1.000000,5.00,4.857143,0,0.505028,1231308943
1,2,4,2,5,1,53,13,1,2,3.000000,...,-100,-100,-100,2.000000,2.000000,5.00,5.000000,0,0.852381,1232300315
2,1,2,1,2,1,69,10,2,5,4.333333,...,99,99,96,1.000000,1.000000,5.00,5.000000,2,1.320189,1232358697
3,2,3,1,6,1,76,97,1,3,1.000000,...,-86,-91,-89,4.666667,1.333333,4.25,4.428571,0,0.519198,1232540961
4,4,5,2,6,1,83,4,1,2,1.000000,...,-80,-88,-87,4.666667,3.666667,4.25,5.000000,0,1.154005,1232580601

In [33]:
cces.index

RangeIndex(start=0, stop=659, step=1)

In [40]:
subset_cces = cces.iloc[175:350]

In [41]:
subset_cces.shape

(175, 21)

In [42]:
subset_cces.to_csv('subset_cces_example_data.csv')

In [43]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 0EBA-0155

 Directory of C:\Users\lisao\Interactive data

02/04/2024  08:30 PM    <DIR>          .
01/29/2024  05:29 PM    <DIR>          ..
01/31/2024  02:27 PM    <DIR>          .ipynb_checkpoints
01/29/2024  07:45 PM            77,889 cces_example_data.csv
02/04/2024  08:30 PM            52,545 in-class.ipynb
02/04/2024  08:29 PM            17,216 Onyao_Pandas_Challenge.ipynb
01/31/2024  10:16 AM             2,836 Onyao_SystemsCheck.ipynb
01/31/2024  01:32 PM             5,484 Onyao_Systems-Check.ipynb
01/30/2024  03:09 PM            45,885 spades.png
02/04/2024  08:32 PM            21,109 subset_cces_example_data.csv
               7 File(s)        222,964 bytes
               3 Dir(s)  411,067,830,272 bytes free

**Why dynamic, interactive data visualization are useful when communicating information**

-Interactive data allows engagement with data in ways that static images cannot.

-Interactive data enables users to view different perspectives.

-Data visualization interprets data and expresses its values as visual properties.