In [1]:
import pandas as pd

In [2]:
pd.DataFrame

pandas.core.frame.DataFrame

In [5]:
my_items = [200, 30 ,40 ,700 ,60,10]
my_items

[200, 30, 40, 700, 60, 10]

In [6]:
pd.DataFrame ({"number of players" :my_items})

   number of players
0                200
1                 30
2                 40
3                700
4                 60
5                 10

In [15]:
json_option_1 =[{'a':9, 'b':5, 'c':11}, {'a': 3, 'b': 19, 'c': 15}, {'a': 7, 'b': 12, 'c': 10}]

In [16]:
df_option_1 = pd.DataFrame(json_option_1)
df_option_1

   a   b   c
0  9   5  11
1  3  19  15
2  7  12  10

In [30]:
df_option_1['a']

0    9
1    3
2    7
Name: a, dtype: int64

In [37]:
df_option_1.iloc[0]

a     9
b     5
c    11
Name: 0, dtype: int64

In [42]:
cces = pd.read_csv('cces_example_data.csv')

In [43]:
cces.head

<bound method NDFrame.head of      pew_religimp  pew_churatd  sex  educ  nonwhite  age  faminc_new  pid3  \
0               2            6    2     2         1   56           6     1
1               2            4    2     5         1   53          13     1
2               1            2    1     2         1   69          10     2
3               2            3    1     6         1   76          97     1
4               4            5    2     6         1   83           4     1
..            ...          ...  ...   ...       ...  ...         ...   ...
654             1            5    2     2         2   30           4     1
655             2            2    1     4         1   19          97     1
656             4            6    1     3         1   20           7     1
657             2            2    1     3         1   23           5     2
658             2            2    1     3         1   23           5     2

     ideo5  QueerPhobia  ...  InterGBiasParty  InterGBiasCand  InterGBiasSup  \
0        1     1.000000  ...              -99             -99            -96
1        2     3.000000  ...             -100            -100           -100
2        5     4.333333  ...               99              99             96
3        3     1.000000  ...              -86             -91            -89
4        2     1.000000  ...              -80             -88            -87
..     ...          ...  ...              ...             ...            ...
654      1     2.666667  ...              -79             -90            -67
655      1     1.000000  ...              -49             -25             -7
656      1     1.000000  ...              -47             -47            -41
657      4     3.666667  ...               40              99             94
658      4     3.666667  ...               40              99             94

     LibMediaUse  ConMediaUse  Real_Threat  Symb_Threat  Evaluation  \
0       2.666667     1.000000         5.00     4.857143           0
1       2.000000     2.000000         5.00     5.000000           0
2       1.000000     1.000000         5.00     5.000000           2
3       4.666667     1.333333         4.25     4.428571           0
4       4.666667     3.666667         4.25     5.000000           0
..           ...          ...          ...          ...         ...
654     1.666667     1.666667         3.00     3.000000           3
655     2.666667     1.000000         3.75     4.714286           0
656     4.666667     4.666667         5.00     4.285714           0
657     2.000000     2.333333         2.50     3.000000           2
658     2.000000     2.333333         2.50     3.000000           2

     teamweight      caseid
0      0.505028  1231308943
1      0.852381  1232300315
2      1.320189  1232358697
3      0.519198  1232540961
4      1.154005  1232580601
..          ...         ...
654    1.182346  1259989749
655    0.660217  1260782541
656    1.027184  1260840787
657    1.433068  1261039231
658    1.433068  1261039231

[659 rows x 21 columns]>

In [45]:
cces.index

RangeIndex(start=0, stop=659, step=1)

**Why dynamic, interactive data visualization are useful when communicating information**

-Interactive data allows engagement with data in ways that static images cannot

-Interactive data enables users to view different perspectives.

-Data visualization interprets data and expresses its values as visual properties.